@font-face {
    font-family: 'Avalon';
    src: url('/font/FontsFree-Net-Avalon.ttf');
}
body{
    padding-top: 1em;
    font-family: Avalon;
}
#a{
    color: rgb(106, 106, 106);
    text-decoration: none;
}
#a:hover{
    color: black;
}
#logo{
    font-size: 1.3em;
    text-decoration: none;
    color: black;
}
.vnut{
    border: 1px solid;
    padding: 40px;
    text-align: justify;
    font-size: 20px ;
    line-height: 38px ;
   
}
h1 {
    position: absolute;
    width: 623px;
    height: 93px;
    left: 134px;
    top: 380px;
    
    font-family: 'Avalon';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 93px;
    color: #585A5E;
    }
    
    h2 {
    
    font-family: 'Avalon';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 62px;
    
    color: #FFFFFF;
    }
    
    .cho {
         padding-top: 5px;
         padding-bottom: 5px;
    }
    
    nav {
         background-color: lightgray;
    }
    
    #text1 {
         font-family: 'Avalon';
         font-style: normal;
         font-weight: 400;
         font-size: 24px;
         line-height: 23px;
         
         color: #585A5E;
    }
    
    button {
         font-family: 'Avalon';
         font-style: normal;
         font-weight: 400;
         font-size: 24px;
         line-height: 23px;
    
         color: #585A5E;
    }
    
    .link-secondary {
    font-family: 'Avalon';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    
    color: #FFFFFF;
    }
    
    #input1 {
         box-sizing: border-box;
         border: 3px solid #FFFFFF;
    }
    
    
    .menu {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }
    .logohead{
        text-align: left;
        font-size: 3.7em;
        font-family: Avalon;
        margin-top: 3em;
    }
    #logoimg{
        margin-top: 10em;
    }
#about{
    margin-top: 17em;
}
#aboutus{
    border-color: black !important;
    padding: 1.5em !important;
}
.text{
    font-size: 1.4em;
    text-align: left;
}    
.contacts{
    color: black !important;
    margin-top: 15em;
    margin-left: 12em;
    width: 70%;
}